@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*-----------------------------------------------
 __header
-----------------------------------------------*/

.md_mv {
    background-image: url(../images/mv_bg.jpg);
    background-size: auto 40%;
    background-repeat: repeat-x;
    background-position: center top;
    min-height: 800px;
    height: 80vh;
    opacity: 0;
    position: relative;
    animation: mv 1.5s linear .5s forwards;
    @include media(1200px) {
        min-height: 600px;
        background-size: auto 35%;
    }
    @include media(767px) {
        background-size: auto 30%;
        height: 60vh;
        max-height: 700px;
    }
    @include media(600px) {
        min-height: 500px;
        height: 100vh;
    }
}
@keyframes mv {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.md_header__logo {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    width: 300px;
    height: auto;
    @include media(1200px) {
        width: 250px;
    }
    @include media(767px) {
        width: 30%;
    }
    @include media(600px) {
        min-width: 160px;
        bottom: 25%;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.md_head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    @include media(660px) {
        flex-wrap: wrap;
    }
}
.md_header__texture {
    flex: 0 1 30%;
    position: relative;
    @include media(660px) {
        flex: 1;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 100%;
    }
    span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../images/houka_tex.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        box-sizing: border-box;
        @include media(660px) {
            left: 12%;
            width: 88%;
        }
    }
}
.md_header__title {
    flex: 0 1 auto;
    padding: 0 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include media(767px) {
        align-items: flex-start;
    }
    span {
        font-size: 38px;
        writing-mode: tb-rl;
        letter-spacing: .2em;
        line-height: 1;
        @include media(767px) {
            font-size: 30px;
        }
        @include media(660px) {
            font-size: 26px;
        }
    }
}
.md_header__intro {
    flex: 0 1 60%;
    @include media(660px) {
        flex: 0 1 100%;
        padding-left: 8%;
        padding-top: 30px;
    }
}
.md_header__read {
    letter-spacing: .1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
    @include media(660px) {
        font-size: 20px;
    }
}
.md_header__summary {
    p {
        margin-bottom: 1em;
        letter-spacing: .05em;
    }
}




.md_logo {
    @include media(540px) {
        text-align: center;
        margin-bottom: .75em;
    }
    a {
        text-decoration: none;
        color: $base_font__color;
        transition: all .1s linear;
        background-image: url(../images/bgmark.png);
        background-repeat: no-repeat;
        background-size: 50px auto;
        padding-left: 60px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        box-sizing: border-box;
        &:hover {
            color: $link-color;
        }
    }
}

.md_header__nav {
    border-bottom: 2px solid #999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 3%;
    @include media(540px) {
        display: block;
        padding: 40px 3% 10px 3%;
    }
}


