@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*--------
__common
-----------------------------------------------*/


/*--------
__top
-----------------------------------------------*/
.pTop_item__listTtl {
    text-align: center;
    padding-bottom: 3em;
}
.pTop_item__wrapper {
    padding-top: 80px;
}
.pTop_item__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    &::after {
        content:'';
        display: block;
        width: 30%;
    }
    > li {
        width: 30%;
        box-shadow: 5px 5px 30px rgba(0,0,0,.1);
        position: relative;
        overflow: hidden;
        margin-bottom: 5%;
        padding-top: 130px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: top left;
            width: 100%;
            padding-top: 120px;
        }
        &.mikan {
            &::before {
                background-image: url(../images/item_bg1x.jpg);
            }
        }
        &.momo {
            &::before {
                background-image: url(../images/item_bg2x.jpg);
            }
        }
        &.ume {
            &::before {
                background-image: url(../images/item_bg3x.jpg);
            }
        }
        &.yuzu {
            &::before {
                background-image: url(../images/item_bg4x.jpg);
            }
        }
        &.jabara {
            &::before {
                background-image: url(../images/item_bg5x.jpg);
            }
        }
        .item_ttl {
            position: absolute;
            top: 120px;
            left: 135px;
            z-index: 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            .jp,.en {
                width: 100%;
                line-height: 1;
                white-space: nowrap;
            }
            .jp {
                order: 2;
            }
            .en {
                font-size: 0.6em;
                padding-bottom: 0.75em;
            }
        }
        .item_column {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 30px 30px 15px;
            position: relative;
            z-index: 2;
            .l_thumb {
                width: 120px;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .l_txt {
                flex: 1;
                min-width: 0;
            }
            .item_summary {
                line-height: 1.75;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                max-height: 7em;
                overflow: hidden;
            }
        }
        .bline {
            position: absolute;
            top: -15px;
            left: -15px;
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            span {
                background-color: #314577;
                font-size: 12px;
                letter-spacing: .1em;
                text-indent: .1em;
                line-height: 1;
                padding: .75em 0;
                text-align: center;
                color: #fff;
                height: 2.5em;
                display: block;
                width: 100%;
                transform: rotate(-45deg);
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -20px;
                    width: 20px;
                    height: 100%;
                    background-color: #314577;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 20px;
                    height: 100%;
                    background-color: #314577;
                }
            }
        }
        a.more {
            text-align: center;
            padding-top: 1.5em;
            display: block;
            text-decoration: none;
            color: #000;
            width: 100%;
            span {
                display: inline-block;
                box-sizing: border-box;
                padding: 0 .5em;
                padding-bottom: 0.75em;
                line-height: 1;
                white-space: nowrap;
                position: relative;
                &:hover {
                    &::after {
                        width: 140%;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 100%;
                    height: 1px;
                    background-color: #000;
                    transform: translate(-50%,-50%);
                    transition :all .2s ease;
                }
            }
        }
    }
}
.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 10px;
    right: 44px;
    top: 44px;
}
.modal_contents {
    display: none;
    &.fancybox-content {
        background-color: transparent;
    }



}
.modal_wrap {
    width: 100%;
    background-color: #fff;
    max-width: 900px;
    padding-top: 180px;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top left;
        width: 100%;
        height: 200px;
    }
    &.mikan {
        &::before {
            background-image: url(../images/item_bg1x.jpg);
        }
    }
    &.momo {
        &::before {
            background-image: url(../images/item_bg2x.jpg);
        }
    }
    &.ume {
        &::before {
            background-image: url(../images/item_bg3x.jpg);
        }
    }
    &.yuzu {
        &::before {
            background-image: url(../images/item_bg4x.jpg);
        }
    }
    &.jabara {
        &::before {
            background-image: url(../images/item_bg5x.jpg);
        }
    }
    .bline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        span {
            background-color: #314577;
            font-size: 15px;
            letter-spacing: .1em;
            text-indent: .1em;
            line-height: 1;
            padding: .75em 0;
            text-align: center;
            color: #fff;
            height: 2.5em;
            display: block;
            width: 100%;
            transform: rotate(-45deg);
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: -39px;
                width: 40px;
                height: 100%;
                background-color: #314577;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: -39px;
                width: 40px;
                height: 100%;
                background-color: #314577;
            }
        }
    }
}
.modal_item__wrap {
    .item_column {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 30px 5%;
    }
    .item_thumb {
        width: 200px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .item_txt {
        flex: 1;
        min-width: 0;
        padding-left: 5%;
    }
    .item_head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 30px;
    }
    .item_logo {
        width: 70px;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .item_ttl {
        flex: 1;
        min-width: 0;
        padding-left: 1em;
        .spark {
            display: block;
            line-height: 1;
            font-size: 0.6em;
        }
        .en {
            padding-left: 1em;
            font-size: 0.6em;
        }
    }
    .item_summary {
        p {
            padding-bottom: 1em;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .item_info {
        position: relative;
        padding-top: 2em;
        .wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
        dt,dd {
            padding: .15em 0;
            line-height: 1.5;
            color: #555;
        }
        dt {
            white-space: nowrap;
            &::after {
                content: '：';
            }
        }
    }
    .item_link {
        padding-top: 1em;
        padding-bottom: 1em;
        a,span {
            text-decoration: none;
            color: #000;
            line-height: 1;
            white-space: nowrap;
            border: 1px solid #000;
            padding: .75em 2em;
            display: inline-block;
            box-sizing: border-box;
            transition :all .3s ease;
            i {
                padding-right: 1em;
            }
        }
        a {
            &:hover {
                background-color: #000;
                color: #eee;
            }
        }
    }
}





.pTop_item__wrap {
    padding-top: 80px;
    padding-bottom: 40px;
    overflow: hidden;
    @include media(767px) {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    @include media(660px) {
        padding-top: 20px;
    }
}
.pTop_item {
    padding-top: 15%;
    padding-bottom: 60px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    @include media(960px) {
        padding-top: 35%;
    }
    @include media(660px) {
        padding-top: 95vw;
        padding-bottom: 20px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: #ddd;
        width: 40%;
        height: 3px;
        @include media(660px) {
            display: none;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-size: auto 100%;
        background-repeat: no-repeat;
        height: 34vw;
        max-height: 500px;
        width: 100%;
        @include media(960px) {
            height: 40vw;
        }
        @include media(660px) {
            height: 55vw;
        }
    }
    &.mikan {
        &:before {
            left: 55%;
            background-image: url(../images/item_bg1.jpg);
            background-position: right top;
            transform: translateX(-50%);
            @include media(660px) {
                left: 65%;
            }
        }
    }
    &.momo {
        &:after {
            right: auto;
            left: 0;
        }
        &:before {
            left: -8%;
            background-image: url(../images/item_bg2.jpg);
            background-position: left top;
            @include media(660px) {
                left: -12%;
            }
        }
    }
    &.ume {
        &:after {
            display: none;
        }
        &:before {
            left: 60%;
            background-image: url(../images/item_bg3.jpg);
            background-position: right top;
            transform: translateX(-50%);
            @include media(660px) {
                left: 65%;
            }
        }
    }
}
.pTop_item__column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.pTop_item__img {
    flex: 0 1 25%;
    position: relative;
    z-index: 2;
    @include media(960px) {
        flex: 0 1 35%;
    }
    @include media(660px) {
        position: absolute;
        width: 30%;
        top: 30vw;
        left: 10%;
    }
    .pTop_item.momo & {
        order: 2;
        @include media(660px) {
            left: auto;
            right: 10%;
        }
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.pTop_item__cont{
    flex: 0 1 65%;
    position: relative;
    z-index: 2;
    @include media(960px) {
        flex: 0 1 55%;
    }
    @include media(660px) {
        flex: 0 1 100%;
    }
    .pTop_item.momo & {
        order: 1;
    }
}
.pTop_item__logo {
    width: 18%;
    padding-bottom: 20px;
    @include media(660px) {
        position: absolute;
        left: 50%;
        top: -41vw;
    }
    .pTop_item.momo & {
        margin-left: auto;
        @include media(660px) {
            margin-left: 0;
            left: auto;
            right: 50%;
        }
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.pTop_item__ttl {
    white-space: nowrap;
    padding-bottom: 30px;
    @include media(660px) {
        position: absolute;
        left: 50%;
        top: -22vw;
    }
    .pTop_item.momo & {
        text-align: right;
        @include media(660px) {
            margin-left: 0;
            left: auto;
            right: 50%;
        }
    }
    .jp {
        letter-spacing: .1em;
        display: inline-block;
        box-sizing: border-box;
        @include media(660px) {
            display: block;
        }
    }
    .en {
        padding-left: 1em;
        font-size: .6em;
        letter-spacing: .1em;
        display: inline-block;
        box-sizing: border-box;
        @include media(660px) {
            display: block;
            padding-left: 0;
        }
    }
}
.pTop_item__summary {
    padding-bottom: 20px;
    p {
        margin-bottom: .75em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.pTop_item__ingredients {
    color: #666;
}



.pTop_buy__wrap {
    background: $c1;
    padding-top: 40px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: -15px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(-45deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #fff;
            top: 8px;
            left: -9px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: -20px;
        right: -27px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(45deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            right: -13px;
            top: -7px;
        }
    }
}
.pTop_buy__ttl {
    text-align: center;
    padding-bottom: 1.5em;
}
.pTop_buy__column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    padding-bottom: 60px;
    @include media(960px) {
        flex-wrap: wrap;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(-135deg);
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            bottom: -2px;
            left: -7px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -6px;
        right: -60px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(135deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            bottom: -3px;
            right: -27px;
        }
    }
    > li {
        flex: 0 1 33%;
        border-right: 1px solid $base_font__color;
        position: relative;
        @include media(960px) {
            flex: 0 1 50%;
            position: relative;
            margin-bottom: 10%;
            &:before {
                content: '';
                position: absolute;
                bottom: -20%;
                left: 50%;
                width: 70%;
                height: 1px;
                background: $base_font__color;
                transform: translateX(-50%);
            }
            &:nth-child(2) {
                border: none;
            }
        }
        @include media(660px) {
            flex: 0 1 100%;
            border-right: none;
            margin-bottom: 60px;
            &:before {
                bottom: -30px;
                width: 80%;
            }
        }
        &:last-child {
            border: none;
            @include media(960px) {
                border-right: 1px solid $base_font__color;
                margin-bottom: 0;
                &:before {
                    display: none;
                }
            }
            @include media(660px) {
                border: none;
                margin-bottom: 0px;
            }
        }
    }
}
.pTop_buy__list {
    padding: 0 15%;
    .innr {
    }
}
.pTop_buy__listTtl {
    text-align: center;
    padding-bottom: 1em;
    line-height: 1.3;
    span {
        display: inline-block;
        box-sizing: border-box;
    }
    .ttl {
        padding: 0 .5em;
        white-space: nowrap;
    }
    .en {
        font-size: .7em;
    }
}
.pTop_buy__detail {
    text-align: center;
    padding-bottom: 60px;
    div {
        text-align: left;
        display: inline-block;
        box-sizing: border-box;
    }

}
.pTop_buy__link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    a {
        display: block;
        box-sizing: border-box;
        width: 60%;
        text-decoration: none;
        border: 2px solid $base_font__color;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
        padding: .65em 0;
        margin: 0 auto;
        color: $base_font__color;
        font-weight: 700;
        max-width: 200px;
    }
    &.dark {
        a {
            border-color: #ccc;
            color: #ccc;
        }
    }
}

.pTop_kura__wrap {
    padding: 80px 0;
    @include media(767px) {
        padding: 60px 0;
    }
}
.pTop_kura__column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    @include media(600px) {
        flex-wrap: wrap;
    }
    .l_img {
        flex: 0 1 42%;
        background-image: url(../images/yuasa_ukra.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include media(600px) {
            flex: 0 1 100%;
            height: 40vw;
            margin-bottom: 3%;
        }
    }
    .l_txt {
        flex: 0 1 52%;
        padding: 1em 0;
        @include media(600px) {
            flex: 0 1 100%;
        }
    }
}
.pTop_kura__ttl {
    white-space: nowrap;
    padding-bottom: 1em;
    line-height: 1.3;
    @include media(960px) {
        white-space: inherit;
    }
    .pTop_item.momo & {
        text-align: right;
    }
    .jp {
        letter-spacing: .1em;
        display: inline-block;
        box-sizing: border-box;
        padding-right: .75em;
    }
    .en {
        font-size: .6em;
        letter-spacing: .1em;
        display: inline-block;
        box-sizing: border-box;
    }
}

.pTop_kura__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    > li {
        flex: 0 1 20%;
        @include media(767px) {
            flex: 0 1 25%;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            padding-right: 15%;
        }
    }
}

.pTop_yuasaw__wrap {
    background: $c1;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -20px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(-135deg);
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            bottom: -2px;
            left: -7px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        bottom: -6px;
        right: -60px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(135deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            bottom: -3px;
            right: -27px;
        }
    }
    .innr {
        padding: 8% 10%;
        @include media(767px) {
            padding-right: 8%;
            padding-left: 8%;
        }
    }
}
.pTop_yuasaw__hero {
    height: 30vw;
    background: #ccc;
    background-image: url(../images/yuasaw_head__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    @include media(767px) {
        height: 50vw;
    }
    &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: -15px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(-45deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #fff;
            top: 8px;
            left: -9px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: -20px;
        right: -27px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #fff;
        transform: rotate(45deg);
        transform-origin: left top;
        @include media(767px) {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            right: -13px;
            top: -7px;
        }
    }

}
.pTop_yuasaw__logo {
    width: 120px;
    margin: 0 auto;
    @include media(767px) {
        width: 20%;
        min-width: 80px;
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.pTop_yuasaw__ttl {
    white-space: nowrap;
    padding: .75em 0 1em 0;
    text-align: center;
    line-height: 1;
    @include media(660px) {
        white-space: inherit;
    }
    .pTop_item.momo & {
        text-align: right;
    }
    .jp {
        letter-spacing: .1em;
        padding-right: .75em;
        display: inline-block;
        box-sizing: border-box;
        @include media(660px) {
            display: block;
            padding-right: 0;
        }
    }
    .en {
        font-size: .6em;
        letter-spacing: .1em;
        display: inline-block;
        box-sizing: border-box;
    }
}
.pTop_yuasaw__copy {
    text-align: center;
    padding: 40px 0;
    span {
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
    }
}
.pTop_yuasaw__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include media(540px) {
        &::after {
            content:'';
            display: block;
            width: 31%;
        }
    }
    > li {
        flex: 0 1 22%;
        padding-bottom: 4%;
        @include media(767px) {
            flex: 0 1 23%;
            padding-bottom: 3%;
        }
        @include media(540px) {
            flex: 0 1 31%;
            padding-bottom: 3%;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
}
.pTop_yuasaw__tasting {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    @include media(767px) {
        padding-top: 3%;
    }
    .l_img {
        flex: 0 1 40%;
        background-image: url(../images/yuasaw_tasting.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include media(767px) {
            flex: 0 1 100%;
            height: 40vw;
        }
    }
    .l_txt {
        flex: 0 1 55%;
        padding: 1em 0;
        @include media(767px) {
            flex: 0 1 100%;
        }
    }
    .ttl {
        letter-spacing: .1em;
        padding-bottom: .75em;

    }
    .summary {
        p {
            &:first-child {
                margin-bottom: 1em;
            }
        }
    }
}
.pTop_yuasaw__tastingTell {
    padding-top: 20px;
    @include media(767px) {
        text-align: center;
    }
    a {
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        border: 2px solid $base_font__color;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
        padding: .65em 4em;
        margin: 0 auto;
        color: $base_font__color;
        font-weight: 700;
    }
}
.pTop_yuasaw__map {
    margin-top: 60px;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    @include media(767px) {
        margin-top: 20px;
    }
    @include media(660px) {
        padding-bottom: 70vw;
    }
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}
