@charset "UTF-8";
/*-----------------------------------------------
 __font _settings
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #404444;
  text-align: justify;
}

.palt {
  font-feature-settings: "palt";
  letter-spacing: .05em;
}

.pkna {
  font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #55abab;
}

a:hover {
  color: #55abab;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __site_common
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #404444;
  text-align: justify;
}

.palt {
  font-feature-settings: "palt";
  letter-spacing: .05em;
}

.pkna {
  font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #55abab;
}

a:hover {
  color: #55abab;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __layout
-----------------------------------------------*/
.dnon {
  display: none;
}

.l_row {
  width: 100%;
  margin: 0 auto;
}

.l_row.mx_1440 {
  max-width: 1440px;
}

.l_row.mx_1366 {
  max-width: 1366px;
}

.l_row.mx_1280 {
  max-width: 1280px;
}

.l_row.mx_1200 {
  max-width: 1200px;
}

.l_row.mx_1024 {
  max-width: 1024px;
}

.l_row.mx_1100 {
  max-width: 1100px;
}

.l_row.mx_900 {
  max-width: 900px;
}

.l_row.pr_side8 {
  padding-right: 8%;
}

.l_row.pd_side8 {
  padding: 0 8%;
}

@media screen and (max-width: 540px) {
  .l_row.pd_side8.ctl_pd {
    padding: 0 5%;
  }
}

.l_row.pd_side5 {
  padding: 0 5%;
}

.l_row.pd_side3 {
  padding: 0 3%;
}

.l_row.pd_side2 {
  padding: 0 2%;
}

@media screen and (max-width: 1200px) {
  .l_row.pd_side2 {
    padding: 0 5%;
  }
}

.wrapper {
  position: relative;
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_mv {
  background-image: url(../images/mv_bg.jpg);
  background-size: auto 40%;
  background-repeat: repeat-x;
  background-position: center top;
  min-height: 800px;
  height: 80vh;
  opacity: 0;
  position: relative;
  -webkit-animation: mv 1.5s linear .5s forwards;
          animation: mv 1.5s linear .5s forwards;
}

@media screen and (max-width: 1200px) {
  .md_mv {
    min-height: 600px;
    background-size: auto 35%;
  }
}

@media screen and (max-width: 767px) {
  .md_mv {
    background-size: auto 30%;
    height: 60vh;
    max-height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .md_mv {
    min-height: 500px;
    height: 100vh;
  }
}

@-webkit-keyframes mv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.md_header__logo {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .md_header__logo {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .md_header__logo {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .md_header__logo {
    min-width: 160px;
    bottom: 25%;
  }
}

.md_header__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.md_head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

@media screen and (max-width: 660px) {
  .md_head {
    flex-wrap: wrap;
  }
}

.md_header__texture {
  flex: 0 1 30%;
  position: relative;
}

@media screen and (max-width: 660px) {
  .md_header__texture {
    flex: 1;
  }
}

.md_header__texture:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100%;
}

.md_header__texture span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/houka_tex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  .md_header__texture span {
    left: 5%;
    width: 92%;
  }
}

.md_header__title {
  flex: 0 1 auto;
  padding: 0 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .md_header__title {
    align-items: flex-start;
  }
}

.md_header__title span {
  font-size: 38px;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
  letter-spacing: .2em;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .md_header__title span {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .md_header__title span {
    font-size: 26px;
  }
}

.md_header__intro {
  flex: 0 1 60%;
}

@media screen and (max-width: 660px) {
  .md_header__intro {
    flex: 0 1 100%;
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
  }
}

.md_header__read {
  letter-spacing: .1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 660px) {
  .md_header__read {
    font-size: 20px;
  }
}

.md_header__summary p {
  margin-bottom: 1em;
  letter-spacing: .05em;
}

@media screen and (max-width: 540px) {
  .md_logo {
    text-align: center;
    margin-bottom: .75em;
  }
}

.md_logo a {
  text-decoration: none;
  color: #404444;
  transition: all .1s linear;
  background-image: url(../images/bgmark.png);
  background-repeat: no-repeat;
  background-size: 50px auto;
  padding-left: 60px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  box-sizing: border-box;
}

.md_logo a:hover {
  color: #55abab;
}

.md_header__nav {
  border-bottom: 2px solid #999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px 3%;
}

@media screen and (max-width: 540px) {
  .md_header__nav {
    display: block;
    padding: 40px 3% 10px 3%;
  }
}

/*-----------------------------------------------
 __footer
-----------------------------------------------*/
/*-----------------------------------------------
 __footer
-----------------------------------------------*/
.md_footer {
  padding: 60px 0;
}

.md_footer__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .md_footer__wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.md_footer__logo {
  flex: 0 1 12%;
}

@media screen and (max-width: 767px) {
  .md_footer__logo {
    flex: 0 1 100%;
    padding-bottom: 5%;
  }
}

.md_footer__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .md_footer__logo img {
    width: 25%;
    margin: 0 auto;
    max-width: 140px;
  }
}

.md_footer__detail a {
  text-decoration: none;
  color: #404444;
}

@media screen and (max-width: 660px) {
  .md_footer__info {
    flex: 0 1 100%;
    text-align: center;
    padding-bottom: 20px;
  }
}

.md_footer__info .innr {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
}

.md_footer__infoTtl {
  margin-bottom: .5em;
}

.md_footer__copy {
  padding-top: 40px;
  text-align: center;
  color: #666;
}

@media screen and (max-width: 660px) {
  .md_footer__copy {
    padding-top: 0;
  }
}

/*-----------------------------------------------
 __page
-----------------------------------------------*/
/*--------
__common
-----------------------------------------------*/
/*--------
__top
-----------------------------------------------*/
.pTop_item__listTtl {
  text-align: center;
  padding-bottom: 3em;
}

.pTop_item__wrapper {
  padding-top: 80px;
  padding-bottom: 40px;
}

@media screen and (max-width: 660px) {
  .pTop_item__wrapper {
    padding-top: 40px;
  }
}

.pTop_item__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.pTop_item__list::after {
  content: '';
  display: block;
  width: 30%;
}

.pTop_item__list > li {
  width: 30%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
  padding-top: 130px;
}

@media screen and (max-width: 1160px) {
  .pTop_item__list > li {
    width: 47.5%;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item__list > li {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 460px;
  }
}

.pTop_item__list > li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top left;
  width: 100%;
  padding-top: 120px;
}

.pTop_item__list > li.mikan::before {
  background-image: url(../images/item_bg1x.jpg);
}

.pTop_item__list > li.momo::before {
  background-image: url(../images/item_bg2x.jpg);
}

.pTop_item__list > li.ume::before {
  background-image: url(../images/item_bg3x.jpg);
}

.pTop_item__list > li.yuzu::before {
  background-image: url(../images/item_bg4x.jpg);
}

.pTop_item__list > li.jabara::before {
  background-image: url(../images/item_bg5x.jpg);
}

.pTop_item__list > li .item_ttl {
  position: absolute;
  top: 120px;
  left: 135px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 660px) {
  .pTop_item__list > li .item_ttl {
    top: 135px;
    left: 125px;
    font-size: 20px;
  }
}

.pTop_item__list > li .item_ttl .jp, .pTop_item__list > li .item_ttl .en {
  width: 100%;
  line-height: 1;
  white-space: nowrap;
}

.pTop_item__list > li .item_ttl .jp {
  order: 2;
}

.pTop_item__list > li .item_ttl .en {
  font-size: 0.6em;
  padding-bottom: 0.75em;
}

.pTop_item__list > li .item_column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 30px 30px 15px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 660px) {
  .pTop_item__list > li .item_column {
    padding-left: 5px;
  }
}

.pTop_item__list > li .item_column .l_thumb {
  width: 120px;
}

.pTop_item__list > li .item_column .l_thumb img {
  width: 100%;
  height: auto;
  display: block;
}

.pTop_item__list > li .item_column .l_txt {
  flex: 1;
  min-width: 0;
}

.pTop_item__list > li .item_column .item_summary {
  line-height: 1.75;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 7em;
  overflow: hidden;
}

.pTop_item__list > li .bline {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pTop_item__list > li .bline span {
  background-color: #314577;
  font-size: 12px;
  letter-spacing: .1em;
  text-indent: .1em;
  line-height: 1;
  padding: .75em 0;
  text-align: center;
  color: #fff;
  height: 2.5em;
  display: block;
  width: 100%;
  transform: rotate(-45deg);
  position: relative;
}

.pTop_item__list > li .bline span::before {
  content: '';
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 100%;
  background-color: #314577;
}

.pTop_item__list > li .bline span::after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background-color: #314577;
}

.pTop_item__list > li a.more {
  text-align: center;
  padding-top: 1.5em;
  display: block;
  text-decoration: none;
  color: #000;
  width: 100%;
}

.pTop_item__list > li a.more span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 .5em;
  padding-bottom: 0.75em;
  line-height: 1;
  white-space: nowrap;
  position: relative;
}

.pTop_item__list > li a.more span:hover::after {
  width: 140%;
}

.pTop_item__list > li a.more span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: translate(-50%, -50%);
  transition: all .2s ease;
}

.modaal-close {
  background: #ccc !important;
  right: 30px;
  top: 20px;
}

@media screen and (max-width: 660px) {
  .modaal-close {
    top: 5px;
  }
}

.modaal-close:hover {
  background: transparent;
  transform: scale(1.1);
}

.modaal-close:hover:after, .modaal-close:hover:before {
  background-color: #fff;
}

.modaal-close:after, .modaal-close:before {
  width: 2px;
}

.modaal-container {
  background: transparent;
}

.modaal-content-container {
  padding: 0;
}

.modal_contents {
  display: none;
}

.modal_wrap {
  width: 100%;
  background-color: #fff;
  margin-top: 30px;
  max-width: 900px;
  padding-top: 180px;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .modal_wrap {
    padding-top: 30vw;
  }
}

.modal_wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top left;
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 767px) {
  .modal_wrap::before {
    height: 30vw;
  }
}

.modal_wrap.mikan::before {
  background-image: url(../images/item_bg1x.jpg);
}

.modal_wrap.momo::before {
  background-image: url(../images/item_bg2x.jpg);
}

.modal_wrap.ume::before {
  background-image: url(../images/item_bg3x.jpg);
}

.modal_wrap.yuzu::before {
  background-image: url(../images/item_bg4x.jpg);
}

.modal_wrap.jabara::before {
  background-image: url(../images/item_bg5x.jpg);
}

.modal_wrap .bline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal_wrap .bline span {
  background-color: #314577;
  font-size: 15px;
  letter-spacing: .1em;
  text-indent: .1em;
  line-height: 1;
  padding: .75em 0;
  text-align: center;
  color: #fff;
  height: 2.5em;
  display: block;
  width: 100%;
  transform: rotate(-45deg);
  position: relative;
}

.modal_wrap .bline span::before {
  content: '';
  position: absolute;
  top: 0;
  right: -39px;
  width: 40px;
  height: 100%;
  background-color: #314577;
}

.modal_wrap .bline span::after {
  content: '';
  position: absolute;
  top: 0;
  left: -39px;
  width: 40px;
  height: 100%;
  background-color: #314577;
}

.modal_item__wrap .item_column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 5%;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_column {
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.modal_item__wrap .item_thumb {
  width: 200px;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_thumb {
    width: 100%;
  }
}

.modal_item__wrap .item_thumb img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_thumb img {
    width: 40%;
    margin: 0 auto;
  }
}

.modal_item__wrap .item_txt {
  flex: 1;
  min-width: 0;
  padding-left: 5%;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_txt {
    padding-left: 0;
    min-width: inherit;
    flex: 0 1 100%;
    text-align: justify;
  }
}

.modal_item__wrap .item_head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_head {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.modal_item__wrap .item_logo {
  width: 70px;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_logo {
    width: 50px;
  }
}

.modal_item__wrap .item_logo img {
  width: 100%;
  height: auto;
  display: block;
}

.modal_item__wrap .item_ttl {
  flex: 1;
  min-width: 0;
  padding-left: 1em;
}

.modal_item__wrap .item_ttl .spark {
  display: block;
  line-height: 1;
  font-size: 0.6em;
}

.modal_item__wrap .item_ttl .en {
  padding-left: 1em;
  font-size: 0.6em;
}

.modal_item__wrap .item_summary p {
  padding-bottom: 1em;
}

.modal_item__wrap .item_summary p:last-child {
  padding-bottom: 0;
}

.modal_item__wrap .item_info {
  position: relative;
  padding-top: 2em;
}

.modal_item__wrap .item_info .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal_item__wrap .item_info dt, .modal_item__wrap .item_info dd {
  padding: .15em 0;
  line-height: 1.5;
  color: #555;
}

.modal_item__wrap .item_info dt {
  white-space: nowrap;
}

.modal_item__wrap .item_info dt::after {
  content: '：';
}

.modal_item__wrap .item_link {
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (max-width: 660px) {
  .modal_item__wrap .item_link {
    text-align: center;
    padding-top: 2em;
  }
}

.modal_item__wrap .item_link a, .modal_item__wrap .item_link span {
  text-decoration: none;
  color: #000;
  line-height: 1;
  white-space: nowrap;
  border: 1px solid #000;
  padding: .75em 2em;
  display: inline-block;
  box-sizing: border-box;
  transition: all .3s ease;
}

.modal_item__wrap .item_link a i, .modal_item__wrap .item_link span i {
  padding-right: 1em;
}

.modal_item__wrap .item_link a:hover {
  background-color: #000;
  color: #eee;
}

.pTop_item__wrap {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .pTop_item__wrap {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item__wrap {
    padding-top: 20px;
  }
}

.pTop_item {
  padding-top: 15%;
  padding-bottom: 60px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .pTop_item {
    padding-top: 35%;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item {
    padding-top: 95vw;
    padding-bottom: 20px;
  }
}

.pTop_item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ddd;
  width: 40%;
  height: 3px;
}

@media screen and (max-width: 660px) {
  .pTop_item:after {
    display: none;
  }
}

.pTop_item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 34vw;
  max-height: 500px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .pTop_item:before {
    height: 40vw;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item:before {
    height: 55vw;
  }
}

.pTop_item.mikan:before {
  left: 55%;
  background-image: url(../images/item_bg1.jpg);
  background-position: right top;
  transform: translateX(-50%);
}

@media screen and (max-width: 660px) {
  .pTop_item.mikan:before {
    left: 65%;
  }
}

.pTop_item.momo:after {
  right: auto;
  left: 0;
}

.pTop_item.momo:before {
  left: -8%;
  background-image: url(../images/item_bg2.jpg);
  background-position: left top;
}

@media screen and (max-width: 660px) {
  .pTop_item.momo:before {
    left: -12%;
  }
}

.pTop_item.ume:after {
  display: none;
}

.pTop_item.ume:before {
  left: 60%;
  background-image: url(../images/item_bg3.jpg);
  background-position: right top;
  transform: translateX(-50%);
}

@media screen and (max-width: 660px) {
  .pTop_item.ume:before {
    left: 65%;
  }
}

.pTop_item__column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.pTop_item__img {
  flex: 0 1 25%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 960px) {
  .pTop_item__img {
    flex: 0 1 35%;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item__img {
    position: absolute;
    width: 30%;
    top: 30vw;
    left: 10%;
  }
}

.pTop_item.momo .pTop_item__img {
  order: 2;
}

@media screen and (max-width: 660px) {
  .pTop_item.momo .pTop_item__img {
    left: auto;
    right: 10%;
  }
}

.pTop_item__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.pTop_item__cont {
  flex: 0 1 65%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 960px) {
  .pTop_item__cont {
    flex: 0 1 55%;
  }
}

@media screen and (max-width: 660px) {
  .pTop_item__cont {
    flex: 0 1 100%;
  }
}

.pTop_item.momo .pTop_item__cont {
  order: 1;
}

.pTop_item__logo {
  width: 18%;
  padding-bottom: 20px;
}

@media screen and (max-width: 660px) {
  .pTop_item__logo {
    position: absolute;
    left: 50%;
    top: -41vw;
  }
}

.pTop_item.momo .pTop_item__logo {
  margin-left: auto;
}

@media screen and (max-width: 660px) {
  .pTop_item.momo .pTop_item__logo {
    margin-left: 0;
    left: auto;
    right: 50%;
  }
}

.pTop_item__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.pTop_item__ttl {
  white-space: nowrap;
  padding-bottom: 30px;
}

@media screen and (max-width: 660px) {
  .pTop_item__ttl {
    position: absolute;
    left: 50%;
    top: -22vw;
  }
}

.pTop_item.momo .pTop_item__ttl {
  text-align: right;
}

@media screen and (max-width: 660px) {
  .pTop_item.momo .pTop_item__ttl {
    margin-left: 0;
    left: auto;
    right: 50%;
  }
}

.pTop_item__ttl .jp {
  letter-spacing: .1em;
  display: inline-block;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  .pTop_item__ttl .jp {
    display: block;
  }
}

.pTop_item__ttl .en {
  padding-left: 1em;
  font-size: .6em;
  letter-spacing: .1em;
  display: inline-block;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  .pTop_item__ttl .en {
    display: block;
    padding-left: 0;
  }
}

.pTop_item__summary {
  padding-bottom: 20px;
}

.pTop_item__summary p {
  margin-bottom: .75em;
}

.pTop_item__summary p:last-child {
  margin-bottom: 0;
}

.pTop_item__ingredients {
  color: #666;
}

.pTop_buy__wrap {
  background: #F2F0EA;
  padding-top: 40px;
  position: relative;
}

.pTop_buy__wrap:before {
  content: '';
  position: absolute;
  top: 13px;
  left: -15px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(-45deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_buy__wrap:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: 8px;
    left: -9px;
  }
}

.pTop_buy__wrap:after {
  content: '';
  position: absolute;
  top: -20px;
  right: -27px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(45deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_buy__wrap:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: -13px;
    top: -7px;
  }
}

.pTop_buy__ttl {
  text-align: center;
  padding-bottom: 1.5em;
}

.pTop_buy__column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  padding-bottom: 60px;
}

@media screen and (max-width: 960px) {
  .pTop_buy__column {
    flex-wrap: wrap;
  }
}

.pTop_buy__column:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
  .pTop_buy__column:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: -2px;
    left: -7px;
  }
}

.pTop_buy__column:after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(135deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_buy__column:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: -3px;
    right: -27px;
  }
}

.pTop_buy__column > li {
  flex: 0 1 33%;
  border-right: 1px solid #404444;
  position: relative;
}

@media screen and (max-width: 960px) {
  .pTop_buy__column > li {
    flex: 0 1 50%;
    position: relative;
    margin-bottom: 10%;
  }
  .pTop_buy__column > li:before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: 50%;
    width: 70%;
    height: 1px;
    background: #404444;
    transform: translateX(-50%);
  }
  .pTop_buy__column > li:nth-child(2) {
    border: none;
  }
}

@media screen and (max-width: 660px) {
  .pTop_buy__column > li {
    flex: 0 1 100%;
    border-right: none;
    margin-bottom: 60px;
  }
  .pTop_buy__column > li:before {
    bottom: -30px;
    width: 80%;
  }
}

.pTop_buy__column > li:last-child {
  border: none;
}

@media screen and (max-width: 960px) {
  .pTop_buy__column > li:last-child {
    border-right: 1px solid #404444;
    margin-bottom: 0;
  }
  .pTop_buy__column > li:last-child:before {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .pTop_buy__column > li:last-child {
    border: none;
    margin-bottom: 0px;
  }
}

.pTop_buy__list {
  padding: 0 15%;
}

.pTop_buy__listTtl {
  text-align: center;
  padding-bottom: 1em;
  line-height: 1.3;
}

.pTop_buy__listTtl span {
  display: inline-block;
  box-sizing: border-box;
}

.pTop_buy__listTtl .ttl {
  padding: 0 .5em;
  white-space: nowrap;
}

.pTop_buy__listTtl .en {
  font-size: .7em;
}

.pTop_buy__detail {
  text-align: center;
  padding-bottom: 60px;
}

.pTop_buy__detail div {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
}

.pTop_buy__link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pTop_buy__link a {
  display: block;
  box-sizing: border-box;
  width: 60%;
  text-decoration: none;
  border: 2px solid #404444;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  padding: .65em 0;
  margin: 0 auto;
  color: #404444;
  font-weight: 700;
  max-width: 200px;
}

.pTop_buy__link.dark a {
  border-color: #ccc;
  color: #ccc;
}

.pTop_kura__wrap {
  padding: 80px 0;
}

@media screen and (max-width: 767px) {
  .pTop_kura__wrap {
    padding: 60px 0;
  }
}

.pTop_kura__column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

@media screen and (max-width: 600px) {
  .pTop_kura__column {
    flex-wrap: wrap;
  }
}

.pTop_kura__column .l_img {
  flex: 0 1 42%;
  background-image: url(../images/yuasa_ukra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  .pTop_kura__column .l_img {
    flex: 0 1 100%;
    height: 40vw;
    margin-bottom: 3%;
  }
}

.pTop_kura__column .l_txt {
  flex: 0 1 52%;
  padding: 1em 0;
}

@media screen and (max-width: 600px) {
  .pTop_kura__column .l_txt {
    flex: 0 1 100%;
  }
}

.pTop_kura__ttl {
  white-space: nowrap;
  padding-bottom: 1em;
  line-height: 1.3;
}

@media screen and (max-width: 960px) {
  .pTop_kura__ttl {
    white-space: inherit;
  }
}

.pTop_item.momo .pTop_kura__ttl {
  text-align: right;
}

.pTop_kura__ttl .jp {
  letter-spacing: .1em;
  display: inline-block;
  box-sizing: border-box;
  padding-right: .75em;
}

.pTop_kura__ttl .en {
  font-size: .6em;
  letter-spacing: .1em;
  display: inline-block;
  box-sizing: border-box;
}

.pTop_kura__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
}

.pTop_kura__gallery > li {
  flex: 0 1 20%;
}

@media screen and (max-width: 767px) {
  .pTop_kura__gallery > li {
    flex: 0 1 25%;
  }
}

.pTop_kura__gallery > li img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-right: 15%;
}

.pTop_yuasaw__wrap {
  background: #F2F0EA;
  position: relative;
}

.pTop_yuasaw__wrap:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(-135deg);
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__wrap:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: -2px;
    left: -7px;
  }
}

.pTop_yuasaw__wrap:after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(135deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__wrap:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: -3px;
    right: -27px;
  }
}

.pTop_yuasaw__wrap .innr {
  padding: 8% 10%;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__wrap .innr {
    padding-right: 8%;
    padding-left: 8%;
  }
}

.pTop_yuasaw__hero {
  height: 30vw;
  background: #ccc;
  background-image: url(../images/yuasaw_head__bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__hero {
    height: 50vw;
  }
}

.pTop_yuasaw__hero:before {
  content: '';
  position: absolute;
  top: 13px;
  left: -15px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(-45deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__hero:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: 8px;
    left: -9px;
  }
}

.pTop_yuasaw__hero:after {
  content: '';
  position: absolute;
  top: -20px;
  right: -27px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(45deg);
  transform-origin: left top;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__hero:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: -13px;
    top: -7px;
  }
}

.pTop_yuasaw__logo {
  width: 120px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__logo {
    width: 20%;
    min-width: 80px;
  }
}

.pTop_yuasaw__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.pTop_yuasaw__ttl {
  white-space: nowrap;
  padding: .75em 0 1em 0;
  text-align: center;
  line-height: 1;
}

@media screen and (max-width: 660px) {
  .pTop_yuasaw__ttl {
    white-space: inherit;
  }
}

.pTop_item.momo .pTop_yuasaw__ttl {
  text-align: right;
}

.pTop_yuasaw__ttl .jp {
  letter-spacing: .1em;
  padding-right: .75em;
  display: inline-block;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  .pTop_yuasaw__ttl .jp {
    display: block;
    padding-right: 0;
  }
}

.pTop_yuasaw__ttl .en {
  font-size: .6em;
  letter-spacing: .1em;
  display: inline-block;
  box-sizing: border-box;
}

.pTop_yuasaw__copy {
  text-align: center;
  padding: 40px 0;
}

.pTop_yuasaw__copy span {
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
}

.pTop_yuasaw__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 540px) {
  .pTop_yuasaw__gallery::after {
    content: '';
    display: block;
    width: 31%;
  }
}

.pTop_yuasaw__gallery > li {
  flex: 0 1 22%;
  padding-bottom: 4%;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__gallery > li {
    flex: 0 1 23%;
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 540px) {
  .pTop_yuasaw__gallery > li {
    flex: 0 1 31%;
    padding-bottom: 3%;
  }
}

.pTop_yuasaw__gallery > li img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pTop_yuasaw__tasting {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__tasting {
    padding-top: 3%;
  }
}

.pTop_yuasaw__tasting .l_img {
  flex: 0 1 40%;
  background-image: url(../images/yuasaw_tasting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__tasting .l_img {
    flex: 0 1 100%;
    height: 40vw;
  }
}

.pTop_yuasaw__tasting .l_txt {
  flex: 0 1 55%;
  padding: 1em 0;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__tasting .l_txt {
    flex: 0 1 100%;
  }
}

.pTop_yuasaw__tasting .ttl {
  letter-spacing: .1em;
  padding-bottom: .75em;
}

.pTop_yuasaw__tasting .summary p:first-child {
  margin-bottom: 1em;
}

.pTop_yuasaw__tastingTell {
  padding-top: 20px;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__tastingTell {
    text-align: center;
  }
}

.pTop_yuasaw__tastingTell a {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid #404444;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  padding: .65em 4em;
  margin: 0 auto;
  color: #404444;
  font-weight: 700;
}

.pTop_yuasaw__map {
  margin-top: 60px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .pTop_yuasaw__map {
    margin-top: 20px;
  }
}

@media screen and (max-width: 660px) {
  .pTop_yuasaw__map {
    padding-bottom: 70vw;
  }
}

.pTop_yuasaw__map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=maps/style.css.map */
