@charset "utf-8";
@import "mixin";

$c1: #55abab;
$c2: #e5f3f3;
$c3: #000;
$c4: #000;
$c5: #000;
$c6: #000;
$c7: #000;
$c8: #000;


$gc1: #002d4e;
$gc2: #cc9900;
$gc3: #f6f3d4;
$gc4: #0c7ba6;


$base_font__color: #444;
$link-color: #55abab;
$formcolor: #3B5998;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;

